<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.geeky7.rohit.flash_a">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat.Light.DarkActionBar">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/API_KEY_GEO" />

        <activity android:name=".activities.MainActivity" />
        <activity
            android:name=".activities.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".activities.Design"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar" />
        <activity android:name=".activities.Design">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.HomeAddress"
            android:label="@string/home_address"
            android:parentActivityName=".activities.Design" />
        <activity
            android:name=".activities.TutorialActivity"
            android:theme="@style/Theme.Intro" />
        <activity
            android:name=".activities.TutorialActivityFirstTime"
            android:theme="@style/Theme.Intro" />

        <service android:name=".services.LocationService" />
        <service
            android:name=".services.BackgroundService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".services.LocationService2"
            android:enabled="true"
            android:exported="true" />

        <receiver android:name=".SMSReceiver">
            <intent-filter android:priority="1000">
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity android:name=".activities.ContactsActivity" />
        <activity android:name=".activities.currentLocationMapActivity"></activity>
    </application>

</manifest>